Artifacts/
Project/Artifacts
Project/*.db
Project/*.user
*/.vs/
Builds/*/ImprovedSuccotash.exe
Builds/*/ImprovedSuccotash.ilk
Builds/*/ImprovedSuccotash.pdb
Builds/*/ImprovedSuccotash.ipdb
Builds/*/ImprovedSuccotash.iobj